<html>

<head>
    <title>Grammable</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet" type='text/css'>
</head>

<body>

    <div class="top-nav">
        <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3">
            <div class="brand float-left">
                <a href="/">Grammable</a>
            </div>
            <div class="add float-right">
                <% if current_user %>
                Welcome,
                <%= current_user.email %>.
                <%= link_to "New Post", new_gram_path %>
                <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
                <% else %>
                <%= link_to "Sign In", new_user_session_path %>
                <%= link_to "Sign Up", new_user_registration_path %>
                <% end %>
            </div>

        </div>
        <br class="clear-fix" />
    </div>

    <% if notice.present? %>
    <p class="notice">
        <%= notice %>
    </p>
    <% end %>

    <% if alert.present? %>
    <p class="alert">
        <%= alert %>
    </p>
    <% end %>

    <%= yield %>

    <!-- footer -->
    <br class="clear-fix" />
    <br class="clear-fix">
    <hr>
    <br class="clear-fix" />

    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-3">
                    <b>About</b>
                    <p>Grammable is clone of <a href="instagram.com">instagram</a> built using RSpec, a test-driven development framework in Ruby. <br><br> It was created by <a href="krystalraysor.com">Krystal Raysor</a>, student at Columbia University Coding Bootcamp. <br> - Dec 2019</p>
                </div>
                <div class="col-12 col-sm-3">
                    <b>Contact</b>
                    <br />
                    admin@krystalraysor.com
                    <br />
                    Charlotte Metro Area
                    <br />
                    Charlotte, NC
                </div>
                <div class="col-12 col-sm-3">
                    <b>App Technologies</b>
                    <ul>
                        <li>HMTL</li>
                        <li>CSS</li>
                        <li>Ruby</li>
                        <li>RSpec</li>
                    </ul>
                </div>
                <div class="col-12 col-sm-3">
                    <b>GIT Repository</b>
                    <br />
                    <br />
                    <%= link_to 'https://github.com/Hello-Krystal/grammable' do %>
                    <span class="fa fa-github-alt fa-5x social-button"></span>
                    <% end %>
                </div>
            </div>
        </div>
    </div>

</body>

</html>